.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;

    @media only screen and (max-width: $bp-large) {
        padding: 6rem;
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 4rem;
    }
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        text-decoration: none;
        color: #fff;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
        background-color: rgba(#fff, 0.05);

        @media only screen and (max-width: $bp-large) {
            padding: 1.3rem;
            font-size: 1.2rem;
        }
    }

    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, 0.1);
        transform: translateY(-3px);
    }
} 